[Unit]
Description=Receives audio through Seastream
Wants=sound.target network-online.target
After=sound.target network-online.target
After=systemd-user-sessions.service

[Service]
ExecStart=/bin/su pi -l -c "/home/pi/seastream-in.sh"
Restart=always

[Install]
WantedBy=multi-user.target