[Unit]
Description=Streams audio out to Seastream
Wants=sound.target network-online.target
After=sound.target network-online.target
After=systemd-user-sessions.service

[Service]
User=pi
ExecStart=/home/pi/seastream/streamers/seastream-out.sh
Restart=always

[Install]
WantedBy=multi-user.target
