[Unit]
Description=Receives audio through Seastream
Wants=sound.target network-online.target
After=sound.target network-online.target
After=systemd-user-sessions.service

[Service]
ExecStart=/home/pi/seastream/streamers/seastream-in.sh
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
