[Unit]
Description=Update OLED
[Service]
ExecStart=sh -c /home/pi/seastream/services/seastream-oled.sh
Type=oneshot
User=pi
WorkingDirectory=/home/pi/seastream