[Unit]
Description=Sets up initial seastream state
Wants=sound.target 
After=sound.target 
After=systemd-user-sessions.service

[Service]
ExecStart=sh -c /home/pi/seastream/services/seastream-startup.sh
WorkingDirectory=/home/pi/seastream
User=pi

[Install]
WantedBy=multi-user.target
